.body {
  background-color: #eae2ff;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 600px;
  width: 600px;
  background-color: white;
  padding: 50px;
}

.card-header{
  height: 10%;
}

.card-body{
  height: 80%;
  background-color: #eae2ff;
  text-align: center;
  padding: 5%;
  overflow-y: scroll;
}

.card-body p {
  font-size: 1.5rem;
  color: #5A5560;
  font-style: italic;
  
}

.card-body input {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.submit {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: lightgreen;
}